<nz-card class="base-card" nzTitle="News Management" [nzExtra]="extraContentTemplate">
    <ng-template #extraContentTemplate>
        <button nz-button nzType="primary" [routerLink]="'create'" [nzSize]="'large'">
            <i nz-icon nzType="plus-square"></i>
            Create
        </button>
    </ng-template>
    <nz-space class="wfull" nzDirection="vertical">
        <div *nzSpaceItem>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                <input type="text" nz-input placeholder="Search by title, author..." [(ngModel)]="filterText" (input)="filterNews()" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch>Search</button>
            </ng-template>
        </div>
        <nz-divider *nzSpaceItem></nz-divider>
        <div *nzSpaceItem>
            <nz-list nzItemLayout="vertical">
                <nz-list-item *ngFor="let news of newsListFiltered; index as i">
                    <nz-list-item-extra>
                        <img nz-image width="180px" height="130px" [nzSrc]="news.cover" [nzFallback]="imageFall" />
                    </nz-list-item-extra>
                    <nz-list-item-meta>
                        <nz-list-item-meta-avatar
                            [nzSrc]="'https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png'"
                        ></nz-list-item-meta-avatar>
                        <nz-list-item-meta-title> {{ news.title }} </nz-list-item-meta-title>
                        <nz-list-item-meta-description> {{ news.edited ? 'Edited' : 'Created' }} at {{ news.date }} </nz-list-item-meta-description>
                    </nz-list-item-meta>
                    <nz-collapse>
                        <nz-collapse-panel nzHeader="News content" [nzExtra]="collapseTagsTemplate">
                            <markdown ngPreserveWhitespaces> {{ news.markdownText }} </markdown>
                        </nz-collapse-panel>
                        <ng-template #collapseTagsTemplate>
                            <nz-space>
                                <nz-tag *ngFor="let tag of news.tags">{{ tag }}</nz-tag>
                            </nz-space>
                        </ng-template>
                    </nz-collapse>
                    <ul nz-list-item-actions>
                        <nz-list-item-action>
                            <button nz-button nzType="primary" [routerLink]="'edit/' + news.id">
                                <span nz-icon nzType="edit"></span>
                                Edit
                            </button>
                        </nz-list-item-action>
                        <nz-list-item-action>
                            <button nz-button nzType="primary" nzDanger (click)="onDeleteNews(news.id)">
                                <i nz-icon nzType="delete"></i>
                                Delete
                            </button>
                        </nz-list-item-action>
                    </ul>
                </nz-list-item>
            </nz-list>
        </div>
    </nz-space>
</nz-card>
