<nz-space nzDirection="vertical" class="news-page-space">
    <nz-card *nzSpaceItem class="news-page-container" [nzCover]="coverTemplate" [nzExtra]="extraTemplate">
        <ng-template #extraTemplate>
            <nz-input-group [nzSize]="'large'" nzAddOnBeforeIcon="link" nz-tooltip nzTooltipTitle="News cover URL">
                <input type="text" nz-input [(ngModel)]="news.cover" [nzSize]="'large'" [placeholder]="'Url to use as new cover'" />
            </nz-input-group>
        </ng-template>
        <ng-template #coverTemplate>
            <img nz-image [nzSrc]="news.cover" [nzFallback]="imgFall" />
        </ng-template>
        <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]="dateTemplate" [nzAvatar]="avatarTemplate"></nz-card-meta>
        <nz-divider></nz-divider>
        <div nz-row class="editable-text-news" [nzGutter]="24">
            <div nz-col nzSpan="24">
                <nz-tabset nzType="card" class="editable-text-news">
                    <nz-tab [nzTitle]="'Markdown'">
                        <textarea
                            rows="10"
                            nz-input
                            [(ngModel)]="news.markdownText"
                            nzAutosize
                            [nzStatus]="statusInputContent"
                            [placeholder]="'Markdown content'"
                        ></textarea>
                    </nz-tab>
                    <nz-tab [nzTitle]="'Preview'">
                        <markdown ngPreserveWhitespaces [data]="news.markdownText == '' ? 'Markdown content' : news.markdownText"></markdown>
                    </nz-tab>
                </nz-tabset>
            </div>
        </div>
        <nz-divider></nz-divider>
        <nz-space nzDirection="vertical" style="width: 100%">
            <span *nzSpaceItem nz-typography><strong>Tags</strong></span>
            <nz-select
                *nzSpaceItem
                [nzMaxTagCount]="5"
                [nzMaxTagPlaceholder]="tagPlaceHolder"
                nzMode="tags"
                nzPlaceHolder="Select the tags"
                [(ngModel)]="news.tags"
                style="width: 70%"
            >
                <nz-option *ngFor="let item of avaliableTags" [nzLabel]="item" [nzValue]="item"></nz-option>
            </nz-select>

            <ng-template #tagPlaceHolder let-selectedList>and {{ avaliableTags.length }} more selected</ng-template>
        </nz-space>
        <nz-divider></nz-divider>
        <div style="float: right">
            <nz-space>
                <button *nzSpaceItem nz-button nzType="primary" [nzSize]="'large'" (click)="onCreateNews()">
                    <span nz-icon nzType="plus-square"></span>
                    Create
                </button>
            </nz-space>
        </div>
        <ng-template #titleTemplate>
            <p nz-typography nzEditable [(nzContent)]="news.title" [nzType]="statusInputTitle" nzEditTooltip="Click to edit the title!"></p>
        </ng-template>

        <ng-template #dateTemplate> Created today </ng-template>

        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" nz-tooltip nzTooltipTitle="Lucas"></nz-avatar>
        </ng-template>
    </nz-card>
</nz-space>
