.home-grid-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(550px, 4.5fr) minmax(150px, 1fr);
    grid-template-rows: minmax(300px, 1fr);
    grid-template-areas: 'main right';
}

.main-content {
    height: 100%;
    width: 100%;
    grid-area: main;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

.right-sidebar {
    height: 100%;
    width: 100%;
    grid-area: right;
    background: pink;
    overflow-y: auto;
    overflow-x: hidden;
}

.space-center {
    padding: 1em;
    width: 100%;
}

.lg-text-hide {
    display: inline;
}

@media only screen and (max-width: 1200px) {
    .lg-text-hide {
        display: none;
    }
}

.bg-blue {
    background-color: #1890ff;
}

.bg-green {
    background-color: #52c41a;
}

.bg-orange {
    background-color: #fa8c16;
}

.text-nowrap {
    white-space: nowrap;
}

.white-text {
    color: #fff;
}

.lg-icon-size {
    font-size: 1.5rem;
}

.md-text-size {
    font-size: 1.1rem;
}

.statistic-box {
    padding: 1rem;
}

.centred-items {
    display: flex;
    justify-items: center;
}
