.home-grid-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: minmax(550px, 4.5fr) minmax(150px, 1fr);
  grid-template-rows: minmax(300px, 1fr);
  grid-template-areas: "main right";
}

.main-content {
  grid-area: main;
  background: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

.right-sidebar {
  grid-area: right;
  background: pink;
  overflow-y: auto;
  overflow-x: hidden;
}



