.news-content-grid {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) minmax(500px, 4fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    grid-template-rows: 100px 50px;
    grid-template-areas:
        'img content views likes comments'
        'img tags    views likes comments';
    margin-bottom: 5px;
}

section.news-content-img {
    grid-area: img;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.news-content-content {
    grid-area: content;
    background: purple;
}

section.news-content-views {
    grid-area: views;
    background: aqua;
}

section.news-content-likes {
    grid-area: likes;
    background: aliceblue;
}

section.news-content-comments {
    grid-area: comments;
    background: aquamarine;
}

section.news-content-tags {
    grid-area: tags;
    background: lightcoral;
    display: flex;
    align-items: center;
}

.news-text-container {
    width: calc(100%);
    height: calc(100%);
    padding: 0.5rem;
}

.text-content {
    width: calc(90%);
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
}
