<div class="news-content-grid">
    <section class="news-content-img">
        <img nz-image width="180px" height="130px" [nzSrc]="cover" [nzFallback]="imageFall" />
    </section>
    <section class="news-content-content">
        <nz-space nzDirection="vertical" class="news-text-container">
            <h3 *nzSpaceItem nz-typography style="cursor: pointer" [routerLink]="id">{{ title }}</h3>
            <span *nzSpaceItem nz-typography class="text-content">
                <markdown ngPreserveWhitespaces [data]="content"></markdown>
            </span>
        </nz-space>
    </section>
    <section class="news-content-views">
        <app-news-shower-statistic [value]="views" [subtitle]="'views'"></app-news-shower-statistic>
    </section>
    <section class="news-content-likes">
        <app-news-shower-statistic [value]="likes" [subtitle]="'likes'"></app-news-shower-statistic>
    </section>
    <section class="news-content-comments">
        <app-news-shower-statistic [value]="comments" [subtitle]="'comments'"></app-news-shower-statistic>
    </section>
    <section class="news-content-tags">
        <nz-space style="padding: 0.5rem">
            <nz-tag *ngFor="let tag of tags">{{ tag }}</nz-tag>
        </nz-space>
    </section>
</div>
