<nz-space nzDirection="vertical" class="news-page-space">
    <nz-card *nzSpaceItem class="news-page-container" [nzCover]="coverTemplate">
        <ng-template #coverTemplate>
            <img nz-image [nzSrc]="news.cover" [nzFallback]="imgFall" />
        </ng-template>
        <nz-card-meta [nzTitle]="titleTemplate" [nzDescription]="dateTemplate" [nzAvatar]="avatarTemplate"></nz-card-meta>
        <nz-divider></nz-divider>
        <markdown ngPreserveWhitespaces [data]="news.markdownText"></markdown>
        <nz-divider></nz-divider>
        <nz-space nzAlign="center">
            <nz-space *nzSpaceItem nzAlign="center" style="cursor: pointer">
                <span *nzSpaceItem nz-icon nzType="like"></span>
                <span *nzSpaceItem> {{ news.likes.length }} Likes </span>
            </nz-space>
            <nz-divider *nzSpaceItem nzDirection="vertical"></nz-divider>
            <nz-space *nzSpaceItem nzAlign="center" style="cursor: pointer">
                <span *nzSpaceItem nz-icon nzType="eye"></span>
                <span *nzSpaceItem> {{ news.views }} Views </span>
            </nz-space>
            <nz-divider *nzSpaceItem nzDirection="vertical"></nz-divider>
            <nz-space *nzSpaceItem nzAlign="center" style="cursor: pointer">
                <span *nzSpaceItem nz-icon nzType="comment"></span>
                <span *nzSpaceItem> {{ news.comments.length }} Comments </span>
            </nz-space>
        </nz-space>

        <ng-template #titleTemplate>
            <span>{{ news.title }}</span>
        </ng-template>

        <ng-template #dateTemplate>
            <span>{{ news.edited ? 'Edited' : 'Created' }} at {{ news.date }}</span>
        </ng-template>

        <ng-template #avatarTemplate>
            <nz-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" nz-tooltip nzTooltipTitle="Lucas"></nz-avatar>
        </ng-template>
    </nz-card>

    <nz-comment *nzSpaceItem class="news-page-container">
        <nz-avatar nz-comment-avatar nzIcon="user" nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
        <nz-comment-content>
            <nz-form-item>
                <nz-tabset nzType="card" class="news-page-space">
                    <nz-tab [nzTitle]="'Markdown'">
                        <textarea [(ngModel)]="commentContent" nz-input rows="4"></textarea>
                    </nz-tab>
                    <nz-tab [nzTitle]="'Preview'">
                        <markdown ngPreserveWhitespaces [data]="commentContent"></markdown>
                    </nz-tab>
                </nz-tabset>
            </nz-form-item>
            <nz-form-item>
                <button nz-button nzType="primary" [disabled]="commentContent == '' || (isAdmin | async)">Add Comment</button>
            </nz-form-item>
        </nz-comment-content>
    </nz-comment>

    <nz-card *nzSpaceItem class="news-page-container">
        <nz-comment nzAuthor="Baiano">
            <nz-avatar
                nz-comment-avatar
                nzIcon="user"
                nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                [nzSize]="'large'"
            ></nz-avatar>
            <nz-comment-content>
                <markdown ngPreserveWhitespaces> Porra pivete </markdown>
                <nz-space nzAlign="center">
                    <nz-space *nzSpaceItem nzAlign="center" style="cursor: pointer">
                        <span *nzSpaceItem nz-icon nzType="like"></span>
                        <span *nzSpaceItem> 12 Likes </span>
                    </nz-space>
                    <nz-divider *nzSpaceItem nzDirection="vertical"></nz-divider>
                    <nz-space *nzSpaceItem nzAlign="center" style="cursor: pointer">
                        <span *nzSpaceItem nz-icon nzType="dislike"></span>
                        <span *nzSpaceItem> 12 Dislikes </span>
                    </nz-space>
                </nz-space>
            </nz-comment-content>
        </nz-comment>
    </nz-card>
</nz-space>
