.grid-container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(300px, 3fr) minmax(300px, 1.5fr) minmax(150px, 1fr);
    grid-template-rows: minmax(70px, 0.4fr) minmax(500px, 5fr);
    grid-template-areas:
        'logo-name menu button'
        'main      main   main';
    height: 100vh;
    overflow: hidden;
}

section {
    height: 100%;
    width: 100%;
}

section.header-logo-name {
    grid-area: logo-name;
    background: orange;
}

section.header-menu {
    grid-area: menu;
    background: brown;
    display: flex;
    align-content: center;
    align-items: center;
}

section.header-button {
    grid-area: button;
    background: purple;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    padding-left: 10px;
}

main {
    grid-area: main;
}

.user-drodown-container {
    cursor: pointer;
    padding: 5px;
    min-width: 130px;
    float: right;
}

.text-position {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
